In [1]:
#import the library
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
# load the dataset
dataset = pd.read_csv("../data/owid-covid-data.csv")

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92791 entries, 0 to 92790
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               92791 non-null  object
 1   continent                              88392 non-null  object
 2   location                               92791 non-null  object
 3   date                                   92791 non-null  object
 4   total_cases                            89951 non-null  float64
 5   new_cases                              89950 non-null  float64
 6   new_cases_smoothed                     88938 non-null  float64
 7   total_deaths                           80028 non-null  float64
 8   new_deaths                             80186 non-null  float64
 9   new_deaths_smoothed                    88938 non-null  float64
 10  total_cases_per_million                89470 non-null  float64
 11  new_cases_per_million                  89469 non-null  float64
 12  new_cases_smoothed_per_million         88462 non-null  float64
 13  total_deaths_per_million               79560 non-null  float64
 14  new_deaths_per_million                 79718 non-null  float64
 15  new_deaths_smoothed_per_million        88462 non-null  float64
 16  reproduction_rate                      74655 non-null  float64
 17  icu_patients                           9331 non-null   float64
 18  icu_patients_per_million               9331 non-null   float64
 19  hosp_patients                          11598 non-null  float64
 20  hosp_patients_per_million              11598 non-null  float64
 21  weekly_icu_admissions                  811 non-null    float64
 22  weekly_icu_admissions_per_million      811 non-null    float64
 23  weekly_hosp_admissions                 1466 non-null   float64
 24  weekly_hosp_admissions_per_million     1466 non-null   float64
 25  new_tests                              41916 non-null  float64
 26  total_tests                            41610 non-null  float64
 27  total_tests_per_thousand               41610 non-null  float64
 28  new_tests_per_thousand                 41916 non-null  float64
 29  new_tests_smoothed                     48576 non-null  float64
 30  new_tests_smoothed_per_thousand        48576 non-null  float64
 31  positive_rate                          45759 non-null  float64
 32  tests_per_case                         45163 non-null  float64
 33  tests_units                            50153 non-null  object
 34  total_vaccinations                     12933 non-null  float64
 35  people_vaccinated                      12137 non-null  float64
 36  people_fully_vaccinated                9489 non-null   float64
 37  new_vaccinations                       10836 non-null  float64
 38  new_vaccinations_smoothed              22074 non-null  float64
 39  total_vaccinations_per_hundred         12933 non-null  float64
 40  people_vaccinated_per_hundred          12137 non-null  float64
 41  people_fully_vaccinated_per_hundred    9489 non-null   float64
 42  new_vaccinations_smoothed_per_million  22074 non-null  float64
 43  stringency_index                       78686 non-null  float64
 44  population                             92176 non-null  float64
 45  population_density                     86292 non-null  float64
 46  median_age                             83273 non-null  float64
 47  aged_65_older                          82333 non-null  float64
 48  aged_70_older                          82811 non-null  float64
 49  gdp_per_capita                         83500 non-null  float64
 50  extreme_poverty                        56478 non-null  float64
 51  cardiovasc_death_rate                  83681 non-null  float64
 52  diabetes_prevalence                    85604 non-null  float64
 53  female_smokers                         65503 non-null  float64
 54  male_smokers                           64542 non-null  float64
 55  handwashing_facilities                 42048 non-null  float64
 56  hospital_beds_per_thousand             76291 non-null  float64
 57  life_expectancy                        88112 non-null  float64
 58  human_development_index                83860 non-null  float64
dtypes: float64(54), object(5)
memory usage: 41.8+ MB

In [4]:
dataset.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [5]:
dataset.head(1)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [6]:
usefulCol = ['iso_code','continent', 'location', 'date', 'total_vaccinations','people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations','new_vaccinations_smoothed']
useddata = pd.DataFrame(dataset, columns= usefulCol)
useddata.head(5)

,iso_code,continent,location,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,new_vaccinations_smoothed
0,AFG,Asia,Afghanistan,2020-02-24,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,NaN,NaN,NaN,NaN,NaN

In [7]:
continentName = ['Africa', 'Asia', 'Europe', 'Oceania', 'North America', 'South America']
continentIndex = []
countryIndex = []
for index, value in useddata.iterrows():
#     if value['continent'] not in continentName:
    if len(str(value['continent'])) < 4:
        continentIndex.append(index)
#         print(value['continent'])
    else:
        countryIndex.append(index)
continent = useddata.loc[continentIndex,:]
country = useddata.loc[countryIndex,:]

In [8]:
continent_f = continent.iloc[:,2:]
continent_f

,location,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,new_vaccinations_smoothed
464,Africa,2020-02-13,NaN,NaN,NaN,NaN,NaN
465,Africa,2020-02-14,NaN,NaN,NaN,NaN,NaN
466,Africa,2020-02-15,NaN,NaN,NaN,NaN,NaN
467,Africa,2020-02-16,NaN,NaN,NaN,NaN,NaN
468,Africa,2020-02-17,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
91488,World,2021-05-28,1.845718e+09,818819847.0,419760225.0,31947359.0,31483414.0
91489,World,2021-05-29,1.876595e+09,827707203.0,423563234.0,30876843.0,32007393.0
91490,World,2021-05-30,1.906443e+09,835289867.0,427421843.0,29848009.0,32897914.0
91491,World,2021-05-31,1.937501e+09,840956152.0,430361678.0,31057911.0,33225237.0
91492,World,2021-06-01,NaN,NaN,NaN,NaN,NaN

In [9]:
continent_f1 = continent_f.dropna(how='all', subset=['total_vaccinations','people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations','new_vaccinations_smoothed'])
continent_f2 = continent_f1.fillna(0)
continent_f2

,location,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,new_vaccinations_smoothed
795,Africa,2021-01-09,0.000000e+00,0.0,0.0,0.0,0.0
796,Africa,2021-01-10,0.000000e+00,0.0,0.0,0.0,500.0
797,Africa,2021-01-11,0.000000e+00,0.0,0.0,0.0,500.0
798,Africa,2021-01-12,0.000000e+00,0.0,0.0,0.0,500.0
799,Africa,2021-01-13,2.000000e+03,2000.0,0.0,0.0,500.0
...,...,...,...,...,...,...,...
91487,World,2021-05-27,1.813771e+09,810431629.0,414771680.0,33957660.0,31080505.0
91488,World,2021-05-28,1.845718e+09,818819847.0,419760225.0,31947359.0,31483414.0
91489,World,2021-05-29,1.876595e+09,827707203.0,423563234.0,30876843.0,32007393.0
91490,World,2021-05-30,1.906443e+09,835289867.0,427421843.0,29848009.0,32897914.0
91491,World,2021-05-31,1.937501e+09,840956152.0,430361678.0,31057911.0,33225237.0

In [10]:
changeIndex = []
location = ""
for index, value in continent_f2.iterrows():
    if value["location"] != location:
        changeIndex.append(index)
        location = value["location"]
changeIndex

[795, 4689, 28238, 28749, 61573, 63176, 77460, 91311]

In [11]:
continent_f2.location.value_counts()

World             181
Europe            181
North America     169
Asia              168
European Union    166
South America     159
Africa            143
Oceania           119
Name: location, dtype: int64

In [12]:
continent_f2.loc[77460:91311,:]

,location,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,new_vaccinations_smoothed
77460,South America,2020-12-24,420.0,420.0,0.0,0.0,0.0
77461,South America,2020-12-25,5198.0,5198.0,0.0,4778.0,4778.0
77462,South America,2020-12-26,8338.0,8338.0,0.0,3140.0,3959.0
77463,South America,2020-12-27,8649.0,8649.0,0.0,311.0,2743.0
77464,South America,2020-12-28,8649.0,8649.0,0.0,0.0,2057.0
...,...,...,...,...,...,...,...
77615,South America,2021-05-28,116653699.0,77820785.0,38832914.0,1816324.0,2157955.0
77616,South America,2021-05-29,118407730.0,79218259.0,39189471.0,1754031.0,2292529.0
77617,South America,2021-05-30,119013068.0,79692875.0,39320193.0,605338.0,2333419.0
77618,South America,2021-05-31,119637884.0,80183628.0,39454256.0,624816.0,2332875.0
91311,World,2020-12-02,1.0,1.0,0.0,0.0,0.0

In [13]:
continent_f2.loc[changeIndex[0]:(changeIndex[1]-1), :].to_csv("../data/continent/Africa.csv", index=False)
continent_f2.loc[changeIndex[1]:(changeIndex[2]-1), :].to_csv("../data/continent/Asia.csv", index=False)
continent_f2.loc[changeIndex[2]:(changeIndex[3]-1), :].to_csv("../data/continent/Europe.csv", index=False)
continent_f2.loc[changeIndex[3]:(changeIndex[4]-1), :].to_csv("../data/continent/European Union.csv", index=False)
continent_f2.loc[changeIndex[4]:(changeIndex[5]-1), :].to_csv("../data/continent/NorthAmer.csv", index=False)
continent_f2.loc[changeIndex[5]:(changeIndex[6]-1), :].to_csv("../data/continent/Oceania.csv", index=False)
continent_f2.loc[changeIndex[6]:(changeIndex[7]-1), :].to_csv("../data/continent/SouthAmer.csv", index=False)
continent_f2.loc[changeIndex[7]:, :].to_csv("../data/continent/World.csv", index=False)

In [14]:
#handle the country data

In [15]:
country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88392 entries, 0 to 92790
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso_code                   88392 non-null  object
 1   continent                  88392 non-null  object
 2   location                   88392 non-null  object
 3   date                       88392 non-null  object
 4   total_vaccinations         11673 non-null  float64
 5   people_vaccinated          10877 non-null  float64
 6   people_fully_vaccinated    8365 non-null   float64
 7   new_vaccinations           9596 non-null   float64
 8   new_vaccinations_smoothed  20796 non-null  float64
dtypes: float64(5), object(4)
memory usage: 6.7+ MB

In [16]:
country.shape

(88392, 9)

In [17]:
country_f = country.dropna(how="all", subset= ['total_vaccinations','people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations','new_vaccinations_smoothed'])
country_f1 = country_f.fillna(0)
country_f1

,iso_code,continent,location,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,new_vaccinations_smoothed
364,AFG,Asia,Afghanistan,2021-02-22,0.0,0.0,0.0,0.0,0.0
365,AFG,Asia,Afghanistan,2021-02-23,0.0,0.0,0.0,0.0,1367.0
366,AFG,Asia,Afghanistan,2021-02-24,0.0,0.0,0.0,0.0,1367.0
367,AFG,Asia,Afghanistan,2021-02-25,0.0,0.0,0.0,0.0,1367.0
368,AFG,Asia,Afghanistan,2021-02-26,0.0,0.0,0.0,0.0,1367.0
...,...,...,...,...,...,...,...,...,...
92785,ZWE,Africa,Zimbabwe,2021-05-27,953389.0,648121.0,305268.0,16349.0,12285.0
92786,ZWE,Africa,Zimbabwe,2021-05-28,976796.0,656630.0,320166.0,23407.0,12695.0
92787,ZWE,Africa,Zimbabwe,2021-05-29,1002465.0,666786.0,335679.0,25669.0,14056.0
92788,ZWE,Africa,Zimbabwe,2021-05-30,1011973.0,670755.0,341218.0,9508.0,14420.0
92789,ZWE,Africa,Zimbabwe,2021-05-31,1020078.0,675678.0,344400.0,8105.0,15022.0

In [18]:
country_f1.describe(include='O')

       iso_code continent location        date
count     21008     21008    21008       21008
unique      210         6      210         181
top         NOR    Europe   Norway  2021-05-12
freq        180      6968      180         198

In [19]:
country_f1.date = country_f1.date.apply(lambda x : datetime.strptime(x, "%Y-%m-%d"))
#.strftime("%d/%m/%Y"))

In [20]:
country_f1.date.value_counts()

2021-05-12    198
2021-05-13    197
2021-05-14    195
2021-05-17    194
2021-05-15    194
             ...
2020-12-02      1
2020-12-12      1
2020-12-11      1
2020-12-04      1
2020-12-10      1
Name: date, Length: 181, dtype: int64

In [21]:
dateMax = country_f1.date.max(axis=0)
dateMin = country_f1.date.min(axis=0)
dateMax, dateMin

(Timestamp('2021-05-31 00:00:00'), Timestamp('2020-12-02 00:00:00'))

In [22]:
# sorted(country_f1.date)
country_f1.sort_values('date', inplace=True)

In [23]:
country_f1

,iso_code,continent,location,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,new_vaccinations_smoothed
62620,NOR,Europe,Norway,2020-12-02,1.0,1.0,0.0,0.0,0.0
62621,NOR,Europe,Norway,2020-12-03,1.0,1.0,0.0,0.0,0.0
62622,NOR,Europe,Norway,2020-12-04,2.0,2.0,0.0,1.0,0.0
62623,NOR,Europe,Norway,2020-12-05,2.0,2.0,0.0,0.0,0.0
62624,NOR,Europe,Norway,2020-12-06,2.0,2.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
38852,IND,Asia,India,2021-05-31,210449895.0,167191085.0,43258810.0,1784772.0,2326312.0
37902,HUN,Europe,Hungary,2021-05-31,8832277.0,5176630.0,3655647.0,73638.0,104687.0
85932,TUR,Asia,Turkey,2021-05-31,29171543.0,16628831.0,12542712.0,210582.0,144330.0
44190,KAZ,Asia,Kazakhstan,2021-05-31,3170032.0,2114112.0,1055920.0,0.0,36483.0
92789,ZWE,Africa,Zimbabwe,2021-05-31,1020078.0,675678.0,344400.0,8105.0,15022.0

In [24]:
country_f2 = pd.concat([country_f1, pd.DataFrame(columns=['month'])], sort= True)
# fix the object in the season col.
for index, value in country_f2.iterrows():
    month = int(value.date.strftime('%m'))
    country_f2.loc[index, 'month'] = month
country_f2

,continent,date,iso_code,location,month,new_vaccinations,new_vaccinations_smoothed,people_fully_vaccinated,people_vaccinated,total_vaccinations
62620,Europe,2020-12-02,NOR,Norway,12,0.0,0.0,0.0,1.0,1.0
62621,Europe,2020-12-03,NOR,Norway,12,0.0,0.0,0.0,1.0,1.0
62622,Europe,2020-12-04,NOR,Norway,12,1.0,0.0,0.0,2.0,2.0
62623,Europe,2020-12-05,NOR,Norway,12,0.0,0.0,0.0,2.0,2.0
62624,Europe,2020-12-06,NOR,Norway,12,0.0,0.0,0.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...
38852,Asia,2021-05-31,IND,India,5,1784772.0,2326312.0,43258810.0,167191085.0,210449895.0
37902,Europe,2021-05-31,HUN,Hungary,5,73638.0,104687.0,3655647.0,5176630.0,8832277.0
85932,Asia,2021-05-31,TUR,Turkey,5,210582.0,144330.0,12542712.0,16628831.0,29171543.0
44190,Asia,2021-05-31,KAZ,Kazakhstan,5,0.0,36483.0,1055920.0,2114112.0,3170032.0
92789,Africa,2021-05-31,ZWE,Zimbabwe,5,8105.0,15022.0,344400.0,675678.0,1020078.0

In [25]:
datepoint = ['2020-12-02', '2020-12-31' , '2021-01-31'
            , '2021-02-28', '2021-03-31'
            , '2021-04-30', '2021-05-31',"2021-06-01"]

In [26]:
# changeDateIndex = []
indexN = 0
dateValue = pd.DataFrame( columns= country_f2.columns.to_list())
for index, value in country_f2.iterrows():
#     print(str(value['date']))
    date = str(value['date']).split(" ")[0]
#     print(date)
    if date in datepoint:
        indexN +=1
#         changeDateIndex.append(index)
        dateValue.loc[indexN, :] = value
# changeDateIndex

In [27]:
dateValue.date.value_counts()

2021-04-30    192
2021-03-31    179
2021-02-28    130
2021-01-31     81
2021-05-31     80
2020-12-31     41
2020-12-02      1
Name: date, dtype: int64

In [28]:
dateValue.location.value_counts()

Estonia                     6
Israel                      6
Greece                      6
Russia                      6
Finland                     6
                           ..
Congo                       1
Central African Republic    1
Comoros                     1
Madagascar                  1
Brunei                      1
Name: location, Length: 197, dtype: int64

In [29]:
changeDateIndex = []
dateC = ""
for index, value in dateValue.iterrows():
#     print(str(value["date"]))
    if str(value["date"]) != dateC:
        changeDateIndex.append(index)
        dateC = str(value["date"])
changeDateIndex

[1, 2, 43, 124, 254, 433, 625]

In [30]:
dateValue.loc[changeDateIndex[0]:(changeDateIndex[1]-1), :].to_csv("../data/country/2020-12-02.csv", index=False)
dateValue.loc[changeDateIndex[1]:(changeDateIndex[2]-1), :].to_csv("../data/country/2020-12-31.csv", index=False)
dateValue.loc[changeDateIndex[2]:(changeDateIndex[3]-1), :].to_csv("../data/country/2021-01-31.csv", index=False)
dateValue.loc[changeDateIndex[3]:(changeDateIndex[4]-1), :].to_csv("../data/country/2021-02-28.csv", index=False)
dateValue.loc[changeDateIndex[4]:(changeDateIndex[5]-1), :].to_csv("../data/country/2021-03-31.csv", index=False)
dateValue.loc[changeDateIndex[5]:(changeDateIndex[6]-1), :].to_csv("../data/country/2021-04-30.csv", index=False)
dateValue.loc[changeDateIndex[6]:, :].to_csv("../data/country/2021-05-31.csv", index=False)

In [31]:
country_f2.shape
indexChange = range(1, 21009)
indexChange = [*indexChange]
country_f2.index = pd.Series(indexChange)

In [32]:
country_f2

,continent,date,iso_code,location,month,new_vaccinations,new_vaccinations_smoothed,people_fully_vaccinated,people_vaccinated,total_vaccinations
1,Europe,2020-12-02,NOR,Norway,12,0.0,0.0,0.0,1.0,1.0
2,Europe,2020-12-03,NOR,Norway,12,0.0,0.0,0.0,1.0,1.0
3,Europe,2020-12-04,NOR,Norway,12,1.0,0.0,0.0,2.0,2.0
4,Europe,2020-12-05,NOR,Norway,12,0.0,0.0,0.0,2.0,2.0
5,Europe,2020-12-06,NOR,Norway,12,0.0,0.0,0.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...
21004,Asia,2021-05-31,IND,India,5,1784772.0,2326312.0,43258810.0,167191085.0,210449895.0
21005,Europe,2021-05-31,HUN,Hungary,5,73638.0,104687.0,3655647.0,5176630.0,8832277.0
21006,Asia,2021-05-31,TUR,Turkey,5,210582.0,144330.0,12542712.0,16628831.0,29171543.0
21007,Asia,2021-05-31,KAZ,Kazakhstan,5,0.0,36483.0,1055920.0,2114112.0,3170032.0
21008,Africa,2021-05-31,ZWE,Zimbabwe,5,8105.0,15022.0,344400.0,675678.0,1020078.0

In [33]:
changeMonthIndex = []
dateM = ""
for index, value in country_f2.iterrows():
#     print(str(value["date"]))
    if str(value["month"]) != dateM:
        changeMonthIndex.append(index)
        dateM = str(value["month"])
changeMonthIndex

[1, 285, 2152, 5061, 9850, 15455]

In [34]:
country_f2.loc[changeMonthIndex[0]:(changeMonthIndex[1]-1), :].to_csv("../data/month/Dec.csv", index=False)
country_f2.loc[changeMonthIndex[1]:(changeMonthIndex[2]-1), :].to_csv("../data/month/Jan.csv", index=False)
country_f2.loc[changeMonthIndex[2]:(changeMonthIndex[3]-1), :].to_csv("../data/month/Frb.csv", index=False)
country_f2.loc[changeMonthIndex[3]:(changeMonthIndex[4]-1), :].to_csv("../data/month/March.csv", index=False)
country_f2.loc[changeMonthIndex[4]:(changeMonthIndex[5]-1), :].to_csv("../data/month/April.csv", index=False)
country_f2.loc[changeMonthIndex[5]:, :].to_csv("../data/month/May.csv", index=False)

In [35]:
# country_f2.date = country_f2.date.apply(lambda x : x.strftime("%d/%m/%Y"))
country_f2.date

1       2020-12-02
2       2020-12-03
3       2020-12-04
4       2020-12-05
5       2020-12-06
           ...
21004   2021-05-31
21005   2021-05-31
21006   2021-05-31
21007   2021-05-31
21008   2021-05-31
Name: date, Length: 21008, dtype: datetime64[ns]

In [36]:
country_f2.to_csv("../data/date.csv", index=False)